In [106]:
# importing the necessary libraries
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [107]:
chrome_options=Options()
chrome_options.add_argument('--disable-blink-features=AutomationControlled')
driver= webdriver.Chrome( r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe",options=chrome_options)

Question 1

In [50]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"

driver.maximize_window()
driver.get(url)


# code to write Data Analyst on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Analyst")

# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [51]:
# extract all the job titles
job_titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles = []
for i in job_titles[:10]:
    titles.append(i.text)

# extract all the company names
job_companies = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies = []
for i in job_companies[:10]:
    companies.append(i.text)

# extract the years of experience needed
job_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp = []
for i in job_exp[:10]:
    exp.append(i.text)

# extract all the job locations including Bangalore and the others with it
job_locations = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
location = []
for i in job_locations[:10]:
    location.append(i.text)

# checking the length to get data frame
print("Lengths of columns:", len(titles), len(companies), len(exp), len(location))

# creating the dataframe now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Years of experience required']=exp
df['Job Locations']=location
df

Lengths of columns: 10 10 10 10

,Job Title,Company Names,Years of experience required,Job Locations
0,Senior Data Analyst,Gaussian Networks Private Limited,3-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,6-11 Yrs,(WFH during Covid)
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,"Chennai, Bangalore/Bengaluru"
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,Bangalore/Bengaluru
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,6-8 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."

Question 2

In [52]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver.get(url)

# code to write Data Scientist on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")

# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [53]:
url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# extract all the job search links from the above search result
job_urls=[]
for i in url:
    job_urls.append(i.get_attribute('href'))

In [54]:
# extract all the job titles
titles = []
for i in job_urls:
    driver.get(i)
    try:
        job_titles = driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        titles.append(job_titles.text)
    except:
        pass

# extract all the company names
companies = []
for i in job_urls:
    driver.get(i)
    try:
        job_companies = driver.find_element_by_xpath('//a[@class="pad-rt-8"]')
        companies.append(job_companies.text)
    except:
        pass
        
# extract all the job locations including Bangalore and the others with it
location = []
for i in job_urls:
    driver.get(i)
    try:
        job_locations = driver.find_element_by_xpath('//span[@class="location "]//a')
        location.append(job_locations.text)
    except:
        pass
    
# extract the complete job description
description = []
for i in job_urls:
    driver.get(i)
    try:
        job_description = driver.find_element_by_xpath('//section[@class="job-desc"]')
        description.append(job_description.text.replace("\n"," "))
    except:
        pass

# checking the length for creating data frame
print("Lengths of columns:", len(titles), len(companies), len(location), len(description))

# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Job Locations']=location
df['Job Description']=description
df

Lengths of columns: 15 15 15 15

,Job Title,Company Names,Job Locations,Job Description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,Chennai,Job description Minumum 3 years of experience ...
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description Use predictive modeling to inc...
2,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,Job description As a Senior Data Scientist for...
3,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,Job description Responsibilities include: Defi...
4,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Job description Skills Required Skills: Data...
5,Senior Data Scientist IN4,Walmart Labs,Bangalore/Bengaluru,"Job description Design, coordinate, and implem..."
6,Senior Data Scientist (Marketplace),Walmart Labs,Bangalore/Bengaluru,Job description Position Responsibilities o So...
7,Hiring For Manager and Sr. Manager | Data Scie...,Vision Beyond Resources India Private Limited,Noida,"Job description Hello, We are hiring on behalf..."
8,Requirement For Data Scientist - Mumbai & Bang...,CRISIL LIMITED,Bangalore/Bengaluru,Job description CRISIL (formerly Credit Ratin...
9,Data Scientist (Python & SQL),AVE-Promagne,Hyderabad/Secunderabad,Job description Required Technical and Profess...
10,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Job description Roles and Responsibilities Req...
11,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,Gurgaon/Gurugram,Job description Job Description Understand and...
12,Data Scientist - IN3,Walmart Labs,Bangalore/Bengaluru,Job description Your Responsibility Develop th...
13,Principal Data Scientist (MINT),Walmart Labs,Bangalore/Bengaluru,Job description Your Opportunity To fulfill th...
14,Freelance Data Scientist Project Based,Shikvix,Bangalore/Bengaluru,Job description Job description: Seeking sen...

Question 3

In [55]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver.get(url)

# code to write Data Scientist on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [56]:
# code to click on the location filter for "Delhi/NCR"
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [57]:
# code to click on the salary filter for "3-6 Lakhs"
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [58]:
# extract all the job titles
j_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
f_title = []
for i in j_title[:10]:
    f_title.append(i.text)

# extract all the company names
j_company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
f_company = []
for i in j_company[:10]:
    f_company.append(i.text)

# extract the years of experience needed
j_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
f_exp = []
for i in j_exp[:10]:
    f_exp.append(i.text)

# extract all the job locations including Bangalore and the others with it
j_location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
f_location = []
for i in j_location[:10]:
    f_location.append(i.text)

# checking the length for getting the data frame
print("Lengths of columns:", len(f_title), len(f_company), len(f_exp), len(f_location))

# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=f_title
df['Company Names']=f_company
df['Years of experience required']=f_exp
df['Job Locations']=f_location
df

Lengths of columns: 10 10 10 10

,Job Title,Company Names,Years of experience required,Job Locations
0,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
1,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Ghaziabad, Faridabad, Delhi / NCR"
2,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
5,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
6,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,(WFH during Covid)
7,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,2-7 Yrs,Gurgaon/Gurugram
8,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,(WFH during Covid)
9,Junior Data Scientists & Engineers,PY Consultancy,0-3 Yrs,"Noida, Gurgaon/Gurugram"

Question 4

In [108]:
# getting the glassdoor job search portal url on the web driver
url = "https://www.glassdoor.co.in/member/home/index.htm"
driver.get(url)

In [109]:
# Finding the element for Job Search using xpath
search_job = driver.find_element_by_xpath("//input[@id='sc.keyword']")

# Writing the required input in the search bar
search_job.send_keys("Data Scientist")

# Finding the element for Job Location using xpath
job_location = driver.find_element_by_xpath("//input[@id='sc.location']")

# Writing the required input in the search bar
job_location.send_keys("Noida")

In [111]:
# Finding the element for Company Name using xpath
company_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//a")

# We will run a loop to iterate all the Company Name tags extracted above and extract the text inside them
Company_Name = []
for i in company_name:
    Company_Name.append(i.text)
    
# Finding the element for Job Posted using xpath
job_posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

# We will run a loop to iterate all the Job Posted tags extracted above and extract the text inside them
Job_Posted = []
for i in job_posted:
    Job_Posted.append(i.text)

# Finding the element for different Job url using xpath
rating_url = driver.find_elements_by_xpath("//a[@class='job-search-key-l2wjgv e1n63ojh0 jobLink']")

# We will run a loop to iterate all the url links extracted above and extract the href inside them
Rating_Url = []
for i in rating_url:
    Rating_Url.append(i.get_attribute("href"))

Ratings = []
for i in Rating_Url:
    driver.get(i)
    # Extracting Rating using xpath
    try:
        ratings = driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        # We will run a loop to iterate all the ratings tags extracted above and extract the text inside them
        Ratings.append(ratings.text.replace("\n"," "))
    except:
        Ratings.append("--")

In [ ]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
Job = pd.DataFrame({"Company_Name":company_name[0:10],"Job_Posted":job_posted[0:10],"Rating_url":rating_url[0:10]})
Job.reset_index(drop=True,inplace = True)
Job.index+= 1
Job

Question 5

In [127]:
# getting the glassdoor job search portal url on the web driver
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [128]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
search_job.send_keys("Data Scientist")

In [129]:
# code to write Noida in location box
search_loc = driver.find_element_by_xpath('//input[@id="LocationSearch"]')
search_loc.send_keys("Noida")

In [130]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
search_btn.click()

In [131]:
# Finding the element for different Job url using xpath
rating_url = driver.find_elements_by_xpath("//a[@class='job-search-key-l2wjgv e1n63ojh0 jobLink']")

In [132]:
# code to get the minimum salary
min_sal = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')
minsal=[]
for i in min_sal[:20]:
    minsal.append(i.text)
minisal=[]
for i in range(0, len(minsal), 2):
    minisal.append(minsal[i])

# code to get the maximum salary
maxisal=[]
for i in range(1, len(minsal), 2):
    maxisal.append(minsal[i])
    
# code to get the company names
com_name = driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
cname = []
for i in com_name[:10]:
    cname.append(i.text)

# code to get the average salary
avg_sal = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3')
avgsal = []
for i in avg_sal[:10]:
    avgsal.append(i.text)
    
# code to get the rating of the company
com_rating = driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
crating = []
for i in com_rating[:10]:
    crating.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(minisal), len(maxisal), len(cname), len(avgsal), len(crating))

# creating the data frame now
df = pd.DataFrame({})
df['Minimum Salary']=minisal
df['Maximum Salary']=maxisal
df['Company Name']=cname
df['Average Salary']=avgsal
df['Company Rating']=crating
df

Lengths of columns: 10 10 10 10 10

,Minimum Salary,Maximum Salary,Company Name,Average Salary,Company Rating
0,₹4L,₹13L,Tata Consultancy Services,"₹6,28,021",3.9
1,₹1L,₹28L,IBM,"₹9,08,246",3.9
2,₹6L,₹23L,Accenture,"₹11,93,390",4.1
3,₹5L,₹1Cr,Delhivery,"₹12,49,716",3.7
4,₹4L,₹17L,Ericsson-Worldwide,"₹7,58,335",4
5,₹8L,₹16L,UnitedHealth Group,"₹12,80,000",3.7
6,₹8L,₹20L,Optum,"₹12,70,000",3.7
7,₹10L,₹18L,Optum Global Solutions,"₹14,55,430",3.9
8,₹5L,₹15L,Valiance Solutions,"₹8,86,064",4.2
9,₹6L,₹16L,EXL Service,"₹11,10,000",3.6

Question 6

In [23]:
url = "https://www.flipkart.com/"
driver.get(url)

In [24]:
# code to write sunglasses in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sunglasses")

In [25]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [26]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptn = []
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [27]:
# code to click on the next button for page 2
search_btn1 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_btn1.click()

In [28]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [29]:
# code to click on the next button for page 3
search_btn2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_btn2.click()

In [30]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.append("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=descriptn[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

Lengths of columns: 120 117 120 120

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
1,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,NuVew,UV Protection Aviator Sunglasses (58),₹403,72% off
96,ROZZETTA CRAFT,"UV Protection, Polarized Aviator Sunglasses (60)",₹449,77% off
97,ROZZETTA CRAFT,UV Protection Round Sunglasses (50),₹449,77% off
98,NuVew,UV Protection Aviator Sunglasses (Free Size),₹202,74% off
99,ROYAL SON,"UV Protection, Polarized Aviator Sunglasses (32)",₹711,64% off

Question 7

In [31]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [32]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the job search links from the above search result
prod_urls=[]
for i in url[:11]:
    prod_urls.append(i.get_attribute('href'))

In [33]:
# extract all the ratings for the iPhone
phone_rating = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for j in prod_rating:
            phone_rating.append(j.text)
    except:
        phone_rating.append("---")

# extract all the review summary for the iPhone
phone_summary = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_summaries = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for j in prod_summaries:
            phone_summary.append(j.text)
    except:
        phone_summary.append("---")

# extract all the complete descriptive review for the iPhone
full_review = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for j in prod_reviews:
            full_review.append(j.text.replace("\n"," "))
    except:
        full_review.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(phone_rating), len(phone_summary), len(full_review))

# creating the data frame now
df = pd.DataFrame({})
df['iPhone Rating']=phone_rating[:100]
df['iPhone Short Summary']=phone_summary[:100]
df['iPhone Full Review']=full_review[:100]
df

Lengths of columns: 108 110 110

,iPhone Rating,iPhone Short Summary,iPhone Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance Camera is superb The ...
96,3,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good As far as camera ...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

Question 8

In [34]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)

# code to write sneakers in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sneakers")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [35]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the product search links from the above search result
prod_urls=[]
for i in url[:5]:
    prod_urls.append(i.get_attribute('href'))

In [36]:
# code to extract brand details
brand = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for j in prod_brand:
            brand.append(j.text)
    except:
        brand.append("---")

# code to extract product description
descriptn = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for j in prod_descriptn:
            descriptn.append(j.text)
    except:
        descriptn.append("---")

# code to extract price of the product
price = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for j in prod_price:
            price.append(j.text)
    except:
        price.append("---")

# code to extract the discount percentage
discount = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
        for j in prod_discount:
            discount.append(j.text)
    except:
        discount.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sneaker Brand']=brand[:100]
df['Sneaker Description']=descriptn[:100]
df['Sneaker Price']=price[:100]
df['Sneaker Discount']=discount[:100]
df

Lengths of columns: 200 164 200 200

,Sneaker Brand,Sneaker Description,Sneaker Price,Sneaker Discount
0,luxury fashion,Sneakers For Men,₹379,57% off
1,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,₹429,59% off
2,Magnolia,Sneakers For Men,₹356,64% off
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
4,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
...,...,...,...,...
95,DUCATI,Sneakers For Men,₹379,80% off
96,BIRDE,Sneakers For Men,₹359,28% off
97,LuvShus,Sneakers For Men,₹449,55% off
98,SHOEFLY,Smash Vulc Sneakers For Men,₹362,70% off
99,luxury fashion,Sneakers For Men,₹399,87% off

Question 9

In [59]:
# getting the myntra shoes site url on the web driver
url = "https://www.myntra.com/shoes"
driver.get(url)

In [60]:
# code to click on the color filter for "Black"
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [61]:
# code to click on the price filter for "Rs. 6935 to Rs. 13621" as “Rs. 6649 to Rs. 13099” is not available
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [62]:
#creating empty lists
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []


# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    
#for scrapping shoe brand names
for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  
    for i in Names:
        shoe_names.append(i.text)
#for scrapping shoe short-description    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") 
    for i in desc:
        s_desc.append(i.text)
#The s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

,Brand,Short-description,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
4,Puma,Mesh Hybrid Fuego Running,Rs. 6999
...,...,...,...
95,Heel & Buckle London,Unisex Colourblocked Sneakers,Rs. 7192Rs. 8990(20% OFF)
96,Ruosh,Mercedes F1 Drift Cat Shoes,Rs. 8990
97,PUMA Motorsport,Men Sneakers,Rs. 7999
98,Puma,Leather Block Sandals,Rs. 6999
99,Puma,Men Leather Formal Loafers,Rs. 8999

Question 10

In [63]:
# getting the amazon shopping site url on the web driver
url = "https://www.amazon.in/"
driver.get(url)

In [64]:
# code to write laptop in the search box
search_prod = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_prod.send_keys("Laptop")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [66]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                                                                 
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        Ratings.append(rating.text)
        
    except NoSuchElementException:
        Ratings.append("NO rating")
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
df

                                               Title   Price       Ratings
0  HP 14 11th Gen Intel Core i5 Processor 14-inch...  62,990  4.2 out of 5
1  Dell Vostro 3400 14" (35.56 cms) FHD Anti Glar...  64,990  3.5 out of 5
2  Lenovo IdeaPad Slim 3 AMD Athlon Silver 3050U ...  79,990  3.4 out of 5
3  HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...  58,980  3.5 out of 5
4  HP Chromebook 14-inch (35.56 cms) Thin & Light...  52,858  3.9 out of 5
5  HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...  29,990  3.8 out of 5
6  Lenovo IdeaPad Slim 3 AMD 3020e 15.6" (39.63cm...  28,420  3.6 out of 5
7  HP 15 Intel Pentium Gold 6405U Processor Entry...  27,990  3.4 out of 5
8  RDP ThinBook 1010 - Intel Celeron Quad Core Pr...  38,499  3.5 out of 5
9  AVITA Essential Refresh NE14A2INC43A-MB 14-inc...  30,049    4 out of 5